.logo{ 
    font-size: 28px;
    color: #3b82f6;
    margin: 0;   
}


.topbar{
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 16px;
}

.board-title{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 30px;
}

.board-description{
    margin: 0px;
    color: #666;
    font-size: 15px;
}

.post-item{
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 16px;
}

.post-item-title{
    margin-top: 0px;
    margin-bottom: 14px;
    font-size: 20px;
}

.post-item-summary{
    margin-top: 0px;
    margin-bottom: 14px;
    color: #555;
}

.post-item-into{
    margin-right: 12px;
    font-size: 14px;
    color: #777;
}

.post-item-category{
    display: inline-block;
    background-color: #e8f0ff;
    color: #2563eb;
    padding: 5px 10px;
    border-radius: 20px;
    margin-bottom: 10px;

}

.post-item-title a:hover{
    color: #2563eb;

}

a{
    text-decoration: none;
    color: black;
}

.category{
    display:inline-block; 
    background-color: #e8f0ff;
    color: #2563eb;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;


}

.post-title{
    margin-bottom: 12px;
    font-size: 30px;
}

.post-info{
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 16px;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}
.post-content p{
    margin-bottom: 16px;
}

.btn{
    display: inline-block;
    margin-top: 10px;
    background-color: #f9fafb;
    padding: 10px 16px;
    border: 1px solid black;
    border-radius: 15px;
}